<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="I_Route" connectionString="Data Source=DESKTOP-F8MCKVD;Initial Catalog=I_Route;User ID=sa;Password=sql" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="containerOne">
        <types>
          <!--REPOSITORIO-->
          <type type="Repositorio.Interfaz.Itbl_UserRepositorio, Repositorio" mapTo="Repositorio.Implementacion.tbl_UserRepositorio, Repositorio">
            <lifetime type="external" />
          </type> 
          <!--SERVICIO-->
          <type type="Servicio.Interfaz.IAcceso, Servicio" mapTo="Servicio.Implementacion.Acceso, Servicio">
            <lifetime type="external" />
          </type>
          
          <!--TRANSACCION-->
          <type type="Transaccion.Interfaz.ITransaccion, Transaccion" mapTo="Transaccion.Implementacion.Transaccion, Transaccion">
            <lifetime type="external" />
          </type>
        
          <type type="WcfColegio.IService1, WcfColegio" mapTo="WcfColegio.Service1, WcfColegio">
            <lifetime type="external" />
          </type>
        </types>
      </container>
    </containers>
  </unity>



  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
